<div class="card">
  <div class="card-header">
    Posted by:
    {{user.first_name}} {{user.last_name}}
  </div>
  <div class="card-body text-center">
    <h5 class="card-title">{{blog_title}}</h5>
    <p class="card-text">{{blog_content}}</p>
    <a href="#" class="btn btn-primary">Comment</a>
  </div>
</div>