<div class="card">
  <div class="card-header d-flex">
    <p> Blog ID:{{id}} </p>
    <p> Date Posted: {{format_date createdAt}}</p>
  </div>
  <div class="card-body text-center">
    <h5 class="card-title">{{blog_title}}</h5>
    <p class="card-text">{{blog_content}}</p>
  </div>
</div>