
{{!-- {{#if loggedIn}} --}}
{{#each blogs as |blog|}}
{{> blog-details}}
{{/each}}
{{!-- {{else}} --}}
{{!-- <div class="container">
<h3>Signin or sign up to read/write posts or comments</h3>
</div>
{{/if}} --}}
