<form class="container">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Title</label>
    <input
      
      class="form-control"
      id="blog-title"
      placeholder="Title"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Blog Information</label>
    <textarea
      class="form-control"
      id="blog-info"
      rows="3"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary" id="postBtn">Submit</button>
</form>

<script src="./js/postBlog.js"></script>